body{
    margin: 0;
    background-color: rgb(227, 227, 228);
}

.header{
    background-color: rgb(215, 216, 216);
    margin-top: 0;
    padding: 5px;
    text-align: center;
    color: rgb(70, 69, 69);
}

.players{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.playersChoose{
    text-align: center;
}